html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 50%;
  width: 50%;
  margin: auto;
  transform: translateY(50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
  border-bottom: 1px solid black;
}

#box1,
#box2,
#box4,
#box5,
#box7,
#box8 {
  border-right: solid black 1px;
}
